{{ define "login" }}
  <main
    class="min-h-screen min-w-screen container flex items-center justify-center"
  >
    <form id="loginForm" hx-post="/login" hx-target="#loginForm">
      <fieldset
        class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
      >
        <legend class="fieldset-legend">Kirjaudu</legend>

        {{if .Error}}
        <div class="alert alert-error mb-4">
            <span>{{.Error}}</span>
        </div>
        {{end}}
        <label class="label">Käyttäjänimi</label>
        <input type="text" name="username" class="input" placeholder="Käyttäjänimi" required />

        <label class="label">Salasana</label>
        <input type="password" name="password" class="input" placeholder="Salasana" required />

        <button class="btn btn-neutral mt-4">Kirjaudu sisään</button>
      </fieldset>
    </form>
  </main>
{{ end }}
